@import url('https://fonts.googleapis.com/css?family=Orbitron');
body {
  background: #F0F0F0;
  text-align: center;
  margin: 0;
}
h1 {
  font-family: 'Orbitron', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 2em;
  text-transform: uppercase;
  color: #fff;
  background: #4285D3;
  width: 100%;
  margin: 0;
  padding: 30px 0;
  letter-spacing: 4px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);

}
#pixelPainter{
  padding: 40px 0 0 82px;
  display: inline-block;
}
.square{
  border: 2px solid red;
  width: 5px;
  height: 5px
}
.grid{
  display: inline-block;
  padding: 0 20px 0 0;
  border-collapse: collapse;
}
.pixels{
  /*height: 10px;*/
  height: 12px;
  width: 10px;
  background: #fff;
}
.pixels:hover{
  cursor:crosshair;
}
.pallete{
  vertical-align: top;
  display: inline-block;
  background: #F8F8F8;
  padding: 10px 15px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 0.5px solid #F3F3F3;
}
.palletebutton{
  height: 25px;
  width: 25px;
  margin: 8px 0;
}

.palletebutton:hover{
  cursor: pointer;
}
.miscButtons{
  display: inline-block;
  vertical-align: bottom;
  margin: 0 0 0 -57px;
}
.miscButtons > button {
  font-family: 'Tahoma', 'Arial', sans-serif;
  color: #333;
  font-size: 14px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  padding: 10px 30px;
  border: 0.5px solid #F3F3F3;
  border-radius: 5px;
  display: block;
  background: linear-gradient(#fff, #f3f3f3);
  margin: 0 0 10px 0;
}
.miscButtons > button:nth-child(3){
  margin: 0;
}
.miscButtons > button:hover {
  background: linear-gradient(#f3f3f3, #fff);
}